<div id='home' class="jumbotron text-center">

	<h1>{{ message }}</h1>

<div class="row">
<p>
				<i>WIT-cookbook</i>
				<p>Assessment2</p>
			<p>Just click <a href ="#listAll">here</a> to view receipes</p>
			<p>by: Markus Kral 20078461</p>
</p>
		<img src="./public/images/backgroundHome.jpg" height="600" width="1200">
</div>
</div>