<div id='home' class="jumbotron text-center">

	<h1>{{ message }}</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-5">
<p>
<table>
	<tr>
		<td>
			<p>
				<i>WIT-cookbook</i>
				<p>Assessment2</p>
			<p>Just click <a href ="#listAll">here</a> to view receipes</p>
			<p>by: Markus Kral 20078461</p>
		</td>
		<td><img src="./public/images/homer.gif"></td>
	</tr>
</table>  
</p>
</div></div>
</div>