<div class="jumbotron text-center">
    <h1>List one receipe</h1>

    <p>{{ message }}</p>
    <pre>{{donations | json}}</pre>
    <pre>{{donations.ingredients | json}}</pre>
    <script>var obj = JSON.parse(donations)
        </script>
    <pre>obj.ingredients</pre>>
    <div ng-controller="viewReceipeController">
        <table align="center" valign="middle" width="40%">
            <tr ng-repeat="field in donations">
            <tr style="height:55px; font-size:36px; margin-left:20px; margin-right:20px; valign="middle";>

            <td height="100">
                {{donations.name}}
            </td>
            </tr>
            <tr>
                <td height="50">
                    Created:
                </td>
                <td height="50">
                    {{donations.Created_date}}
                </td>
            </tr>
            <tr>
                <td height="50">
                    Created by:
                </td>
                <td height="50">
                    {{donations.Created_by}}
                </td>
            </tr>
            <tr>
                <td height="50">
                    Ingredients:
                </td>
            <tr ng-repeat="ingredient in donations.ingredients || json">

            <td height="50">
                    {{ingredient}}
                </td>
                <td height="50">
                    {{donations.ingredients.ingredient}}
                </td>
            </tr>

            </tr>


            </tbody>
        </table>
    </br>
        </br>
        </br>
        </br>
        </br>
        </br>

        <button type="button" class="btn btn-danger" ng-click="delete(donations._id)">DELETE</button>
        <div ng-controller="donateController">
        <button type="button" class="btn btn-info" ng-click="viewReceipe(donations._id)">UPDATE</button>
        </div>

        <!--<script> var str = JSON.stringify(obj, null, 2  ); </script>-->
        <!--{{str}}-->


    <iframe
            width="600"
            height="450"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key= AIzaSyCAmAnNgaCujUh1749SU5Qo-p7OkmyQqkE&q=Waterford" + {{donations._id}}>
    </iframe>
    </div>

</div>